.ny-accordion-group.ny-primary .ny-accordion,
.ny-accordion.ny-primary {
	border-bottom: 1px solid #586ee4;
	> .ny-accordion--toggle {
		background-color: $primary-color;
		border-bottom: 1px solid $primary-color;
		color: #FFFFFF;
		&:after {
			@include arrow-up("#FFFFFF");
		}
	}
	&.open {
		> .ny-accordion--toggle {
      background-color: #5164cb;
      border-bottom: 1px solid #5164cb;
		}
	}
	[data-content] item,
	[data-content] a[data-item] {
		color: #FFFFFF;
		border-bottom: 1px solid $primary-color;
		&:hover {
			background-color: rgba(81, 100, 203, 0.66);
		}
	}
}
.ny-accordion-group.ny-accent .ny-accordion,
.ny-accordion.ny-accent {
	border-bottom: 1px solid #f94f89;
	> .ny-accordion--toggle {
		background-color: $accent-color;
		border-bottom: 1px solid $accent-color;
		color: #FFFFFF;
		&:after {
			@include arrow-up("#FFFFFF");
		}
	}
	&.open {
		> .ny-accordion--toggle {
			background-color: #f03272;
			border-bottom: 1px solid #f03272;
		}
	}
	[data-content] item,
	[data-content] a[data-item] {
		color: #FFFFFF;
		border-bottom: 1px solid $accent-color;
		&:hover {
			background-color: rgba(255, 73, 135, 0.66);
		}
	}
}
.ny-primary .ny-subheader,
.ny-accent .ny-subheader {
	color: #f4f3f3;
}

/* ny-breadcrumb */
.ny-breadcrumb.ny-primary {
	> a {
		color: #FFFFFF;
	}
	> a:last-child {
		color: #FFFFFF;
	}
}
.ny-breadcrumb--material.ny-primary {
	> a {
		&, &.active {
			color: $primary-color
		}
		&:before {
			box-shadow: 0 0 0 1px $primary-color;
		}
		&:hover, &.active, &:hover:after, &.active:after {
			background: $primary-color;
			&.active:hover {
				background: #4f63cf;
			}
			&:hover, &.active {
				&:before {
					color: $primary-color;
				}
			}
		}
		&:hover:before {
			color: $primary-color;
		}
		&:last-child:before {
			color: $primary-color;
		}
		&:after {
			box-shadow: 2px -2px 0 2px $primary-color - #222;
		}
	}
}


/* ny-navbar */
.ny-navbar.ny-primary {
	.ny-navbar--brand {
		color: #FFFFFF;
	}
	.ny-navbar--collapse {
		color: #FFFFFF;
	}
	.ny-navbar--menu,
	.ny-navbar--menu-right,
	.ny-navbar--menu-left {
		> li.active {
			background-color: $primary-color - #111;
			a:hover {
				background-color: $primary-color - #111 !important;
			}
		}
		> li:not(.disabled) > a {
			color: #FFFFFF;
			&:hover {
				border-bottom: 2px solid $accent-color;
				background-color: $primary-color - #0a0a0a;
			}
		}
		> li.disabled > a {
			color: rgba(255, 255, 255, 0.56);
		}
	}
}
.ny-navbar.ny-accent {
	.ny-navbar--brand {
		color: #FFFFFF;
	}
	.ny-navbar--collapse {
		color: #FFFFFF;
	}
	.ny-navbar--menu,
	.ny-navbar--menu-right,
	.ny-navbar--menu-left,
	&.collapsed ul[data-role="dropdown"] {
		> li.active {
			background-color: $accent-color - #111;
			a:hover {
				background-color: $accent-color - #111 !important;
			}
		}
		> li:not(.disabled) > a {
			color: #FFFFFF;
			&:hover {
				border-bottom: 2px solid #ffbed4;
				background-color: $accent-color - #0a0a0a;
			}
		}
		> li.disabled > a {
			color: rgba(255, 255, 255, 0.56);
		}
	}
}
/* ny-navbar-theme on mobile */
@media (max-width: 767px) {
	.ny-navbar.ny-primary {
		&.collapsed {
			ul[data-role="dropdown"] {
				background-color: transparent;
				> li > a:hover {
					color: #FFFFFF !important;
					background-color: transparent !important;
					border-bottom: 2px solid transparent;
				}
				> li > a:not([data-toggle="dropdown"]) {
					color: #d2d2d2;
				}
			}
			li > a:hover {
				border-bottom: 2px solid transparent !important;
			}
			li > a[data-toggle="dropdown"] {
				color: #FFFFFF;
			}
			li > a[data-toggle="dropdown"].active {
				background-color: $primary-color - #111;
			}
		}
	}
	.ny-navbar.ny-accent {
		&.collapsed {
			ul[data-role="dropdown"] {
				background-color: transparent;
				> li > a:hover {
					color: #FFFFFF !important;
					background-color: transparent;
					border-bottom: 2px solid transparent;
				}
				> li > a:not([data-toggle="dropdown"]) {
					color: #d2d2d2;
				}
			}
			li > a:hover {
				border-bottom: 2px solid transparent !important;
			}
			li > a[data-toggle="dropdown"] {
				color: #FFFFFF;
			}
			li > a[data-toggle="dropdown"].active {
				background-color: $accent-color - #111;
			}
		}
	}
}