/* nyancss - variable  */
$font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$primary-color: #3F51B5;
$accent-color: #E91E63;

$black-text: #333333;

/* ny-accordion */
$small-size--content: 140px;
$medium-size--content: 180px;
$large-size--content: 230px;

/*ny-openmenu*/
$openmenu-width-size: 300px;