meta(charset="utf-8")
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name="viewport",content="width=device-width, initial-scale=1.0")
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='msapplication-tap-highlight', content='no')

if page
  title #{page} - NyanCSS
else
  title Documentation - NyanCSS

meta(name='msapplication-TileColor', content='#FFFFFF')
meta(name='theme-color', content='#EE6E73')

// CSS
link(rel="stylesheet" href="../css/nyancss.css" media="screen,projection")
link(rel="stylesheet" href="vendor/css/style.css")
link(rel="stylesheet" href="vendor/css/prismjs.min.css")