div(class="col-md-9 col-sm-12 col-xs-12 main-content ny-content")
	main
		div.ny-jumbotron.ny-whiteframe-3dp
			h1 Nyan.CSS
			p a modern css framework with smooth and light design.
			span.version #{appVersion}
			span.lastCommit #{appLastCommit}

		// Section

		// Getting Started
		include section/_getting_started
		include section/_setup

		include _footer
		