// Facebook
meta(property="og:title" content="NyanCSS: a modern css framework with smooth and light design")
meta(property="og:image" content="")
meta(property="og:url" content="http://getnyancss.com")
meta(property="og:site_name" content="NyanCSS: a modern css framework with smooth and light design")
meta(property="og:type" content="website")

// Meta 
meta(name="author", content="Ryan Aunur Rassyid")
meta(name="keyword", content="nyancss, nyancss framework, nyan.css, css indonesia, web design")
meta(name="description", content="NyanCSS is a modern css framework with smooth and light design Based on Material Design and Smooth Light Design")
meta(name="robots" content="index,nofollow")