- var appVersion = "v0.7.0-beta"
- var appLastCommit = "Jun 14, 2017"
- var components = ['Typography', 'Blockquotes', 'Navbar', 'Card', 'Whiteframe', 'Buttons', 'Lists', 'List Items', 'Label', 'Badges', 'Open Menu', 'Accordion', 'Forms', 'Tables', 'Grids', 'Code', 'Layouting', 'Tabs', 'Breadcrumb']
- var helpers = ['Truncate', 'Flexbox', 'Layout Align', 'Responsive Utilities']
- var isDemo = false