- var appVersion = "v0.6.9-beta"
- var appLastCommit = "April 2, 2017"
- var components = ['Typography', 'Blockquotes', 'Card', 'Whiteframe', 'Buttons', 'Lists', 'List Items', 'Label', 'Badges', 'Open Menu', 'Accordion', 'Forms', 'Tables', 'Grids', 'Code', 'Layouting', 'Tabs']
- var helpers = ['Truncate', 'Flexbox', 'Layout Align', 'Responsive Utilities']
- var isDemo = false