include _variable

doctype html
html(lang="en")
	head
		include _head
		include _seo
	body(ny-app)
		div.clearfix.main-container.ny-flex--row
			include _sidebar
			include _main
		include _script

		