section#getting-started
  h3.title Getting Started
  hr
  .example
    p
      | Nyan.css comes in two different forms. You can select which version you want depending on out preference and expertise. To start using Nyan.css, all you have to do is Download one of the options below. 
    br 
    #download 
    h4 Download 
    p
      | This is standart version that comes with both the minified and unminified CSS. This options requires little to not setup. 
    a#downloadLink.ny-button.ny-button--raised(href='') Nyan.css -version- 
    br
    br 
    #cdn-link 
    h4 CDN 
    p You can find all the version of the CDN at github.com/nyancodeid/nyancss 
    pre.ny-code.code-example
      code.language-markup#cdnLink
        | &lt;!-- Compiled and Minified CSS --&gt;
        | &lt;link rel="stylesheet" href="-linkcss-" &gt;
        | 
        | &lt;!-- Compiled and Minified Javascript --&gt;
        | &lt;script src="-linkjs-" defer &gt;&lt;/script&gt;
    br
    br