.ny-tabs {
	box-shadow: $card-box-shadow;
	.ny-tabs-header {
		position: relative;
		border-width: 0 0 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.12);
    background: #FFFFFF;
    &.ny-primary li,
    &.ny-accent li {
			color: #FFFFFF !important;
			> span * {
			 	color: #FFFFFF;
			}
    }
    &.ny-accent .tab-slider {
    	background: #FF86AF !important;
    }
    &.ny-tabs--fullwidth {
    	.ny-tabs-pagination {
    		width: 100%;
    		li:not(.tab-slider) {
    			width: 100%;
    		}
    	}
    }
    &.active {
			.ny-tabs-canvas {
				margin: 0 32px;
			}
			.ny-tabs-nav--back,
			.ny-tabs-nav--next {
				visibility: visible;
			}
    }
		.ny-tabs-canvas {
			margin: 0;
			position: relative;
	    display: block;
	    height: 48px;
	    overflow: hidden;
		}
		.ny-tabs-pagination {
			height: 48px;
	    display: flex;
	    position: absolute;
	    left: 0px;
	    transform: translate3d(0px, 0px, 0px);
	    transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
	    margin-bottom: 0;
	    list-style: none;
			li:not(.tab-slider) {
				margin-bottom: 0;
				width: 123px;
				font-size: 14px;
		    text-align: center;
		    line-height: 24px;
		    cursor: pointer;
		    white-space: nowrap;
		    position: relative;
		    float: left;
		    font-weight: 500;
		    box-sizing: border-box;
		    text-overflow: ellipsis;
		    padding: 12px 24px;
		    transition: background-color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
		    overflow: hidden;
		    color: rgba(0,0,0,0.54);
		    &.active {
		    	background-color: rgba(0, 0, 0, 0.04);
		    }
		    > * {
		    	user-select: none;
		    	-moz-user-select: none;
		    }
		    &.disabled,
		    &[data-disabled] {
		    	@include tabs-disable;
		    	> span * {
		    		color: rgba(0, 0, 0, 0.27);
		    	}
		    }
			}
			.tab-slider {
			 	display: block;
			 	position: absolute;
			 	bottom: 0;
			 	left: 0;
			 	height: 2px;
			 	margin-bottom: 0;
			 	background: $accent-color;
			 	transition: transform .125s cubic-bezier(.35,0,.25,1);
			 	transform: translate(0px, 0px);
			}
		}
		.ny-tabs-nav--back,
		.ny-tabs-nav--next {
			height: 100%;
	    width: 32px;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    line-height: 1em;
	    z-index: 2;
	    cursor: pointer;
	    font-size: 16px;
	    background: 50% center no-repeat transparent;
	    transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);
	    visibility: hidden;
	    svg {
	    	position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    fill: #333333;
	    }
	    &.ny-disabled {
	    	background: rgba(0, 0, 0, 0.06);
		    touch-action: none;
		    user-select: none;
		    pointer-events: none;
		    svg {
		    	fill: rgba(0, 0, 0, 0.17);
		    }
	    }
		}
		&.ny-primary svg,
		&.ny-accent svg {
			fill: #FFFFFF;
		}
		.ny-tabs-nav--back {
			left: 0;
		}
		.ny-tabs-nav--next {
			right: 0;
			svg {
				right: 0;
			}
		}
	}
	.ny-tabs-container {
		
	}
}

@media (max-width: 767px) {
	.ny-tabs ul.ny-tabs-header {
	    overflow: hidden;
	    li {
	      width: 100px;
    		min-width: 100px;
	    }
	}
	.ny-tabs {
		.ny-tabs-header {
			li:not(.tab-slider) {
				width: auto !important;
			}
			.ny-tabs-nav--back, .ny-tabs-nav--next {
				visibility: hidden !important;
			}
		}
		.ny-tabs-canvas {
			margin: 0 !important;
			overflow-x: auto !important;
		}
	}
}
