.ny-accordion-group {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  .ny-subheader {
    padding-left: 1em;
  }
}
.ny-accordion {
  line-height: 1;
  border-bottom: 1px solid #cacaca;

  [data-content] {
    overflow: hidden;
    max-height: 0;
  }
  item, a[data-item] {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
    display: block;
    &:hover {
      background-color: #eee;
    }
  }
  [data-content] .ny-accordion {
    border: 0;
    padding: 0;
  }
  > .ny-accordion--toggle {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
    margin-bottom: 0;
    width: 100%;
    border-radius: 0;
    color: #333333;
    background-color: #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    &:after {
      content: "";
      position: absolute;
      right: 10px;
      top: 12px;
      height: 24px;
      width: 24px;
      background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="#333333" width="24" height="24" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>') center center no-repeat;
      transition: transform .3s ease;
    }
  }
  &.open {
    > .ny-accordion--toggle {
      background-color: #efefef;
      border-bottom: 1px solid #efefef;
      &:after {
        -webkit-transform: rotate(-180deg); 
        -ms-transform: rotate(-180deg); 
        transform: rotate(-180deg); 
      }
    }
  }
}