/*Experimental*/

$cubic: cubic-bezier(.64, .09, .08, 1);

[data-tooltip] {
	position: relative;
	&:after {
		opacity: 0;
		line-height: 120%;
		visibility: hidden;
		position: absolute;
		content: attr(data-tooltip);
		padding: 6px 10px;
		top: 1.4em;
		left: 50%;
		transform: translateX(-50%) translateY(-2px);
		background: grey;
		color: #FFFFFF;
		white-space: nowrap;
		z-index: 2;
		border-radius: 2px;
		transition: opacity .2s $cubic, transform .2s $cubic;
	}
	&:hover {
		&:after {
			display: block;
			opacity: 1;
			visibility: visible;
			transform: translateX(-50%) translateY(0);
		}
	}

	&.ny-tooltip--left {
		&:after {
			top: 50%;
			left: 0;
			transform: translateX(-112%) translateY(-50%);
		}
		&:hover {
			&:after {
				transform: translateX(-110%) translateY(-50%);
			}
		}
	}
	&.ny-tooltip--right {
		&:after {
			top: 50%;
			left: 100%;
			transform: translateX(12%) translateY(-50%);
		}
		&:hover {
			&:after {
				transform: translateX(10%) translateY(-50%);
			}
		}
	}
	&.ny-tooltip--triangle {
		&:before {
			content: '';
			width: 0;
			height: 0;
			border-left: solid 5px transparent;
			border-right: solid 5px transparent;
			border-bottom: solid 5px grey;
			opacity: 0;
			visibility: hidden;
			transform: opacity .25s $cubic, transform .2s $cubic;
			z-index: 3;
		}
		&:hover {
			&:before {
				display: block;
				opacity: 1;
				visibility: visible;
				transform: translateX(-50%) translateY(0);
			}
		}
	}
}