.ny-content {
  display: block;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.ny-flex {
  display: flex;
  flex: 1;
}

.ny-flex--row,
.ny-flex--col {
  display: flex;
}

.ny-flex--row {
  flex-direction: row;
}
.ny-flex--col {
  flex-direction: column;
}
.ny-flex--wrap {
  flex-wrap: wrap;
}

// From Angular Material Layout - Layout
.ny-layout-align,
.ny-layout-align--start-stretch {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-align-content: stretch;
          align-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-grid-row-align: stretch;
          align-items: stretch; 
}

.ny-layout-align--start,
.ny-layout-align--start-start,
.ny-layout-align--start-center,
.ny-layout-align--start-end,
.ny-layout-align--start-stretch {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start; 
}

.ny-layout-align--center,
.ny-layout-align--center-start,
.ny-layout-align--center-center,
.ny-layout-align--center-end,
.ny-layout-align--center-stretch {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center; 
}

.ny-layout-align--end,
.ny-layout-align--end-start,
.ny-layout-align--end-center,
.ny-layout-align--end-end,
.ny-layout-align--end-stretch {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.ny-layout-align--space-around,
.ny-layout-align--space-around-center,
.ny-layout-align--space-around-start,
.ny-layout-align--space-around-end,
.ny-layout-align--space-around-stretch {
  -webkit-justify-content: space-around;
          justify-content: space-around; 
}

.ny-layout-align--space-between,
.ny-layout-align--space-between-center,
.ny-layout-align--space-between-start,
.ny-layout-align--space-between-end,
.ny-layout-align--space-between-stretch {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between; 
}

.ny-layout-align--start-start,
.ny-layout-align--center-start,
.ny-layout-align--end-start,
.ny-layout-align--space-between-start,
.ny-layout-align--space-around-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
          align-content: flex-start; }

.ny-layout-align--start-center,
.ny-layout-align--center-center,
.ny-layout-align--end-center,
.ny-layout-align--space-between-center,
.ny-layout-align--space-around-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-grid-row-align: center;
          align-items: center;
  -webkit-align-content: center;
          align-content: center;
  max-width: 100%; }

.ny-layout-align--start-center > *,
.ny-layout-align--center-center > *,
.ny-layout-align--end-center > *,
.ny-layout-align--space-between-center > *,
.ny-layout-align--space-around-center > * {
  max-width: 100%;
  box-sizing: border-box; }

.ny-layout-align--start-end,
.ny-layout-align--center-end,
.ny-layout-align--end-end,
.ny-layout-align--space-between-end,
.ny-layout-align--space-around-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-grid-row-align: flex-end;
          align-items: flex-end;
  -webkit-align-content: flex-end;
          align-content: flex-end; }

.ny-layout-align--start-stretch,
.ny-layout-align--center-stretch,
.ny-layout-align--end-stretch,
.ny-layout-align--space-between-stretch,
.ny-layout-align--space-around-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-grid-row-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
          align-content: stretch; }

.ny-subheader {
  font-size: 14px;
  color: #9e9e9e;
  margin: 1rem 0;
}

img.ny-img-responsive, video.ny-video-responsive {
  min-width: 100%;
  height: auto;
}

.ny-circle {
  border-radius: 50%; 
}

.ny-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; 
  .no-controls {
    padding-top: 0; 
  }
}
.ny-video iframe, .ny-video object, .ny-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: table;
}

.ny-left {
  float: left;
}

.ny-right {
  float: right;
}

.ny-fixed {
  position: fixed;
}

.ny-truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.ny-code {
  padding: 3px 5px;
  border: 1px solid #d0d0d0;
  background-color: #eeecec;
  border-radius: 4px;
  font-size: 15px;
  font-family: Consolas;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.show--table {
  display: table;
}
.show--inline {
  display: inline;
}
.show--inline-block {
  display: inline-block;
}

.ny-no-margin {
  margin: 0;
}
.ny-no-padding {
  padding: 0;
}

.ny-avatar {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 1rem;
}

@media (max-width: 767px) {
  .show-xs {
    display: block !important;
  }
  .show-xs--block {
    display: block !important;
  }
  .show-xs--table {
    display: table !important;
  }
  .show-xs--inline {
    display: inline !important;
  }
  .show-xs--inline-block {
    display: inline-block !important;
  }
  .hide-xs {
    display: none !important;
  }
  .ny-flex-xs--row {
    flex-direction: row !important;
  }
  .ny-flex-xs--col {
    flex-direction: column !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .show-sm {
    display: block !important;
  }
  .show-sm--block {
    display: block !important;
  }
  .show-sm--table {
    display: table !important;
  }
  .show-sm--inline {
    display: inline !important;
  }
  .show-sm--inline-block {
    display: inline-block !important;
  }
  .hide-sm {
    display: none !important;
  }
  .ny-flex-sm--row {
    flex-direction: row !important;
  }
  .ny-flex-sm--col {
    flex-direction: column !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .show-md {
    display: block !important;
  }
  .show-md--block {
    display: block !important;
  }
  .show-md--table {
    display: table !important;
  }
  .show-md--inline {
    display: inline !important;
  }
  .show-md--inline-block {
    display: inline-block !important;
  }
  .hide-md {
    display: none !important;
  }
  .ny-flex-md--row {
    flex-direction: row !important;
  }
  .ny-flex-md--col {
    flex-direction: column !important;
  }
}

@media (min-width: 1200px) {
  .show-lg {
    display: block !important;
  }
  .show-lg--block {
    display: block !important;
  }
  .show-lg--table {
    display: table !important;
  }
  .show-lg--inline {
    display: inline !important;
  }
  .show-lg--inline-block {
    display: inline-block !important;
  }
  .hide-lg {
    display: none !important;
  }
  .ny-flex-lg--row {
    flex-direction: row !important;
  }
  .ny-flex-lg--col {
    flex-direction: column !important;
  }
}