.ny-lists {
  @extend .ny-card;
  @extend .ny-flex--col;
  text-align: left;
  padding: 8px 0 0 0;
  border-radius: none;
  .ny-subheader {
    margin-left: 16px;
  }
  &.ny-lists--bordered {
    .ny-list-item {
      border-bottom: 1px solid #f0f0f0;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.ny-list-item, .ny-list-item--bordered {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  position: relative;
  &:hover {
    background-color: #eee;
    .ny-badge--inline {
      background-color: #dddada;
    }
  }
  img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }
  .ny-list-item-text {
    display: flex;
    flex-direction: column;
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      margin-bottom: 0;
      color: #9e9e9e;
    }
    &.oneChild {
      padding: 8px 0;
    }

  }

  .ny-badge--inline {
    display: inline-block;
    min-width: 10px;
    max-height: 24px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.55);
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #eee;
    border-radius: 10px;
    margin-top: 8px;
  }
  
  .ny-button {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}

.ny-list-item--bordered {
  border-bottom: 1px solid #f0f0f0;
  &:last-child {
    border-bottom: none;
  }
}
