.ny-button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #f2f2f2;
  color: $primary-color;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  user-select: none;
  border: none;
  transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1)
}

.ny-button:focus, .ny-button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
  color: #fff;
  outline: 0;
}

.ny-button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled] {
  cursor: default;
  opacity: .5;
}

.ny-button[disabled]:focus, .ny-button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type='button'][disabled]:focus,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:focus,
input[type='reset'][disabled]:hover,
input[type='submit'][disabled]:focus,
input[type='submit'][disabled]:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

.ny-button.ny-button--outline,
button.ny-button--outline,
input[type='button'].ny-button--outline,
input[type='reset'].ny-button--outline,
input[type='submit'].ny-button--outline {
  background-color: transparent;
  border: 0.1rem solid $primary-color;
  color: $primary-color;
}

.ny-button.ny-button--outline:focus, .ny-button.ny-button--outline:hover,
button.ny-button--outline:focus,
button.ny-button--outline:hover,
input[type='button'].ny-button--outline:focus,
input[type='button'].ny-button--outline:hover,
input[type='reset'].ny-button--outline:focus,
input[type='reset'].ny-button--outline:hover,
input[type='submit'].ny-button--outline:focus,
input[type='submit'].ny-button--outline:hover {
  background-color: transparent;
  border-color: #606c76;
  color: #606c76;
}

.ny-button.ny-button--outline[disabled]:focus, .ny-button.ny-button--outline[disabled]:hover,
button.ny-button--outline[disabled]:focus,
button.ny-button--outline[disabled]:hover,
input[type='button'].ny-button--outline[disabled]:focus,
input[type='button'].ny-button--outline[disabled]:hover,
input[type='reset'].ny-button--outline[disabled]:focus,
input[type='reset'].ny-button--outline[disabled]:hover,
input[type='submit'].ny-button--outline[disabled]:focus,
input[type='submit'].ny-button--outline[disabled]:hover {
  border-color: inherit;
  color: $primary-color;
}

.ny-button.ny-button--raised,
button.ny-button--raised,
input[type='button'].ny-button--raised,
input[type='reset'].ny-button--raised,
input[type='submit'].ny-button--raised {
  background-color: $primary-color;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}    
.ny-button[data-ripple],
button[data-ripple],
input[type='button'][data-ripple],
input[type='reset'][data-ripple],
input[type='submit'][data-ripple] {
  position: relative;
  overflow: hidden;
}

.ny-button.ny-button--clear,
button.ny-button--clear,
input[type='button'].ny-button--clear,
input[type='reset'].ny-button--clear,
input[type='submit'].ny-button--clear {
  background-color: transparent;
  border-color: transparent;
  color: $primary-color;
}

.ny-button.ny-button--clear:focus, .ny-button.ny-button--clear:hover,
button.ny-button--clear:focus,
button.ny-button--clear:hover,
input[type='button'].ny-button--clear:focus,
input[type='button'].ny-button--clear:hover,
input[type='reset'].ny-button--clear:focus,
input[type='reset'].ny-button--clear:hover,
input[type='submit'].ny-button--clear:focus,
input[type='submit'].ny-button--clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: #606c76;
}

.ny-button.ny-button--clear[disabled]:focus, .ny-button.ny-button--clear[disabled]:hover,
button.ny-button--clear[disabled]:focus,
button.ny-button--clear[disabled]:hover,
input[type='button'].ny-button--clear[disabled]:focus,
input[type='button'].ny-button--clear[disabled]:hover,
input[type='reset'].ny-button--clear[disabled]:focus,
input[type='reset'].ny-button--clear[disabled]:hover,
input[type='submit'].ny-button--clear[disabled]:focus,
input[type='submit'].ny-button--clear[disabled]:hover {
  color: $primary-color;
}
